html {
  scroll-behavior: smooth;
}

.side_nav_wrap {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 40px;
}

.side_nav {
  display: flex;
  flex-direction: column;
  text-indent: -9999em;  
}

.side_nav > li {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 100%;
  transition: 0.3s ease;
}

.side_nav > li:nth-of-type(1) {
  background-color: #e74c3c;
}
.side_nav > li:nth-of-type(2) {
  background-color: #f39c12;
}
.side_nav > li:nth-of-type(3) {
  background-color: #2ecc71;
}
.side_nav > li:nth-of-type(4) {
  background-color: #1abc9c;
}
.side_nav > li:nth-of-type(5) {
  background-color: #3498db;
}

.side_nav > li:hover {
  opacity: 0.5;
}

.page_up_btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  box-shadow: -6px -1px 115px 0px rgba(0,0,0,0.72);
  -webkit-box-shadow: -6px -1px 115px 0px rgba(0,0,0,0.72);
  -moz-box-shadow: -6px -1px 115px 0px rgba(0,0,0,0.72);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.page_up_btn img {
  display: block;
  width: 100%;
  height: auto;
}

.page_up_btn:hover {
  animation: bounce 0.5s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}