@charset "utf-8";

* {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

header {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background-color: black;
  margin-bottom: 80px;
}

.logo {
  display: block;
  color: #e8344e;
  font-size: 21px;
  width: 200px;
  margin-right: 76px;
}

.list_wrap {
  display: flex;
  width: 100%;
}

.a1 {
  display: flex;
  width: 100%;
  margin: 0;
  justify-content: space-between;
}

.a2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

li {
  display: inline-block;
  width: 150px;
}

.nav-link {
  display: flex;
  color: white;
  font-size: 21px;
  transition: color 0.3s ease;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover {
  color: #fee500;
}

.wder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 21px;
  color: white;
}

.main_visual {
  width: 100%;
  height: 100vh;
  background: url(../assets/images/main.png) no-repeat center / cover;
}

.main_visual {
  text-indent: -9999em;
}
