@charset "utf-8";

.team_info {
  width: 100%;
  height: 100vh;
}

.jumbotron {  
  background: url("../assets/images/image.png") no-repeat center / cover ;
  filter: brightness(150%);
  
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;  
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team_content_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}

h3 {
  margin: 0;
  color: #000;
}
.title {
  font-size: 10em;
  font-weight: 900;
  margin: 0;
}

.jb_content {
  font-weight: 800;
  font-size: 2.4em;
  color: #111;
  margin: 0;
}

.eng {
  color: #333;  
}


/* ground rule 밖을 둘러썬 div css */
.ground {
  width: 620px;
  height: auto;
  text-align: left;
  font-weight: 700;
  margin-right: 40px;
}

/* ground rule */
.rule {
  font-size: 5em;
  font-weight: 700;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

/* ground rule안에 내부 내용들 */
.rule_text {
  width: 620px;
  height: 400px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 20px;
  color: black;
  background-color: #f6f9fa;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(189, 189, 189);
}

/* 목표 */
.goal {
  width: 620px;
  height: 356px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* 목표 타이틀 */
.tgoal {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: black;
  margin-bottom: 10px;
}

/* 최종완성 css */
.clear {
  display: block;
  width: 100%;
  height: 150px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f9fa;
  opacity: 90%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(189, 189, 189);
}

/*버튼 css*/
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 20%;
  font-size: 20px;
  color: white;
  opacity: 120%;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
}
