@charset "utf-8";

/* visitation_page */
.visitation_wrap {
  width: 1320px;
  height: 100vh;    
  display: flex; 
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;

  /* border: 3px solid #000; */
}

.visitation_wrap {  
  margin: 0 auto;
  padding-top: 200px;
  /* background: #555 no-repeat center / cover ; */
  /* border: 3px solid #333; */

  display: flex;
  flex-direction: column;
}

/* visitation_input_box */
.visitation_input_box {
  width: 1320px;  
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* visitation_input */
.visitation_input_box > input {
  width: 70%;
  height: 50px;

  margin-bottom: 50px;

  font-size: 3em;
  text-align: center;

  color: #333;

  border-color: #555;
  border-radius: 5px;
}

.posting_btn {
  width: 45%;
  height: 50px;
  border-radius: 15px;
  background-color: #444;
  font-size: 1.5em;
  color: #fff;
}

.visitation_inner {
  width: 100%;
  border: 3px solid #000;
}
.visitation_board {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
}

.visitation_posted {
  width: 30%;
  height: 500px;

  padding: 10% 5% 0 5% ;
  padding-top: 10%;
  
  
  
  
  font-size: 2em;
  color: #111;  

  /* box-shadow: 3px 3px #c3c3c3; */
  
  background: url(../assets/images/posted.png) no-repeat center / contain;
}

.visitation_photo {
  width: 35%;
  height: 320px;
  margin-top: 20px;  

  text-indent: -9999px;
  background: url(../assets/images/photo_ex.png) no-repeat center / cover;
  border-radius: 20px;
}
